# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Gamecredits Client
Exec=electrum-gmc %u
GenericName[en_US]=Electrum-GMC
GenericName=Electrum-GMC
Icon=electrum-gmc
Name[en_US]=Electrum Gamecredits Wallet
Name=Electrum Gamecredits Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/gamecredits;

